@import url("https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap");

body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin-top: 70px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
}
p {
  line-height: 28px;
  margin-bottom: 25px;
}
.centered {
  text-align: center;
}

a {
  color: #ffffff;
}
a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d;
}
.navbar-inverse .navbar-nav > .active > a {
  background-color: #3d3d3d;
}
.navbar-inverse .navbar-brand {
  color: #999;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}

#headerwrap {
  background: url(https://images6.alphacoders.com/565/565678.jpg) no-repeat
    center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;

  background-size: 100%;

  -weblit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#headerwrap h1 {
  margin-top: 50px;
  color: white;
  font-size: 50px;
  font-weight: 300px;
  letter-spacing: 3px;
}
#headerwrap h2 {
  color: white;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.w {
  padding-top: 30px;
}
.w h4 {
  font-size: 25px;
}
#dg {
  background: #b3b3b3;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}
#dg h2 {
  font-size: 40px;
  color: #2e2f2e;
}
#dg p {
  border: 1px solid #dcdcdc;
  padding: 10px;
}
.tilt {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.tilt:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transition: rotate(-10deg);
  -o-transition: rotate(-10deg);
  -ms-transition: rotate(-10deg);
  transition: rotate(-10deg);
}
.wb {
  padding-top: 35px;
  margin-bottom: 0px;
}
.wb h4 {
  font-size: 35px;
}

#red {
  background: #808080;
  padding-top: 70px;
  padding-bottom: 70px;
}
#red h3 {
  color: white;
  font-size: 35px;
}
#red p {
  color: white;
}
#f {
  background: #2d2d2d;
  padding-top: 30px;
  padding-bottom: 20px;
}
#f i {
  color: #bdbdbd;
  font-size: 30px;
  padding: 20px;
}
#f i:hover {
  color: #00ffff;
}
#headerwrap2 {
  margin-top: 10px;
  color: black;
  font-size: 50px;
  font-weight: 300px;
  letter-spacing: 3px;
}
#headerwrap2 p {
  border: 1px solid #dcdcdc;
  padding: 10px;
}

#it {
  background: white;
  color: black;
  text-size: 5px;
  margin-top: -30px;
  padding-top: 90px;
}
#it p {
  color: #black;
  font: 14px/135%;
  margin-top: 10px;
  width: 100%;
  text-align: justify;
  border: 0px solid #dcdcdc;
  padding: 10px;
}
